{{ $contact := .Site.Data.contact }}

<section id="yhteystiedot" class="contact mt-5 p-3 p-lg-5 p-md-5">
  <div class="container">
    <center><h2 class="h2 my-5">Ota yhteyttä</h2></center>

    <form
      action="https://formspree.io/{{ .Site.Data.config.email }}"
      method="POST"
    >
      <div class="row justify-content-md-center">
        <div
          class="col-12 col-lg-4 col-md-4 rounded text-dark p-5"
          style="font-size: 18px"
        >
          {{ if $contact.address }}
          <div class="mb-3">
            <div class="text-uppercase text-muted">Address</div>
            <div>{{ $contact.address }}</div>
          </div>
          {{ end }} {{ if $contact.email }}
          <div class="mb-3">
            <div class="text-uppercase text-muted">Sähköposti</div>
            <div>{{ $contact.email }}</div>
          </div>
          {{ end }} {{ if $contact.phone }}
          <div class="mb-3">
            <div class="text-uppercase text-muted">Puhelin</div>
            <div>{{ $contact.phone }}</div>
          </div>
          {{ end }}
        </div>
        <div class="col-12 col-lg-6 col-md-6">
          <div class="row">
            <div class="col-12 col-lg-6 col-md-6">
              <div class="form-group">
                <label>Nimi</label>
                <input
                  type="text"
                  name="name"
                  class="form-control"
                  placeholder="Nimi"
                />
              </div>
            </div>
            <div class="col-12 col-lg-6 col-md-6">
              <div class="form-group">
                <label>Sähköpostiosoite</label>
                <input
                  type="email"
                  name="email"
                  class="form-control"
                  placeholder="Sähköpostiosoite"
                />
              </div>
            </div>
            <div class="col-12 col-lg-6 col-md-6">
              <div class="form-group">
                <label>Yhdistys</label>
                <input
                  type="text"
                  name="organization"
                  class="form-control"
                  placeholder="Yhdistys"
                />
              </div>
            </div>
            <div class="col-12 col-lg-6 col-md-6">
              <div class="form-group">
                <label>Jäsenmäärä</label>
                <select name="members" class="form-control">
                  <option>-</option>
                  <option>alle 10</option>
                  <option>10-49</option>
                  <option>50-99</option>
                  <option>100-299</option>
                  <option>300-999</option>
                  <option>1000-2999</option>
                  <option>yli 3000</option>
                </select>
              </div>
            </div>

            <div class="col-12">
              <div class="form-group">
                <label>Viesti</label>
                <textarea
                  placeholder="Viesti"
                  name="message"
                  rows="5"
                  class="form-control"
                ></textarea>
              </div>
            </div>

            <div class="col-12">
              <button type="submit" class="btn btn-outline-dark">Lähetä</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
